<!-- component html -->
<div class="card mt-2" style="width: 100%;">
  <div class="card-body">

    <div class="row mb-1">
      <div class="col-md-6">
        <h5 class="card-title">Contacts List</h5>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-outline-primary"
          (click)="addContact(addEditViewContactModel, 'lg', 'Add New Contact')"><i class="fa fa-plus"></i>&nbsp;Add Contact</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                City
              </th>
              <th>
                Email
              </th>
              <th>
                Phone
              </th>
              <th>
                Status
              </th>
              <th>
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contactModelList; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ item.firstName || 'N/A' }}</td>
              <td>{{ item.lastName || 'N/A' }}</td>
              <td>{{ item.city || 'N/A' }}</td>
              <td>{{ item.email || 'N/A' }}</td>
              <td>{{ item.phone || 'N/A' }}</td>
              <td>
                <span class="badge badge-pill badge-{{ item.status ? 'success' : 'danger'}}"
                  title="{{ item.status ? 'Active' : 'Inactive' }}"
                  (click)="statusContact(statusContactModel, 'md', 'Status', item.id, item.status)"><i
                    class="fa fa-{{ item.status ? 'check' : 'times'}}"></i>&nbsp;{{ item.status ? 'Active' : 'Inactive' }}</span>
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-outline-primary" title="View Contact"
                  (click)="viewEditContact(addEditViewContactModel, 'lg', 'View Contact', item.id, 0)"><i
                    class="fa fa-search"></i></button>&nbsp;
                <button type="button" class="btn btn-sm btn-outline-warning" title="Edit Contact"
                  (click)="viewEditContact(addEditViewContactModel, 'lg', 'Edit Contact', item.id, 2)"><i
                    class="fa fa-pencil"></i></button>&nbsp;
                <button type="button" class="btn btn-sm btn-outline-danger" title="Delete Contact"
                  (click)="deleteContact(deleteContactModel, 'md', 'Delete Contact', item.id)"><i
                    class="fa fa-times"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal : Add New Contact -->
<ng-template #addEditViewContactModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ this.modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <fieldset [disabled]="isFormMode == 0">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" aria-describedby="txtFirstNameDesc" formControlName="firstName"
                [ngClass]="{ 'is-invalid': isFormSubmit && f.firstName.errors }">
              <small id="txtFirstNameDesc" class="form-text text-muted sr-only">Enter first name.</small>
              <div *ngIf="isFormSubmit && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First name is required !</div>
              </div>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" aria-describedby="txtLastNameDesc" formControlName="lastName"
                [ngClass]="{ 'is-invalid': isFormSubmit && f.lastName.errors }">
              <small id="txtLastNameDesc" class="form-text text-muted sr-only">Enter last name.</small>
              <div *ngIf="isFormSubmit && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last name is required !</div>
              </div>
            </div>
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" aria-describedby="txtCityDesc" formControlName="city"
                [ngClass]="{ 'is-invalid': isFormSubmit && f.city.errors }">
              <small id="txtCityDesc" class="form-text text-muted sr-only">Enter city name.</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" aria-describedby="txtEmailDesc" formControlName="email"
                [ngClass]="{ 'is-invalid': isFormSubmit && f.email.errors }">
              <small id="txtEmailDesc" class="form-text text-muted sr-only">Enter email id.</small>
              <div *ngIf="isFormSubmit && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Email is required !</div>
              </div>
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" aria-describedby="txtPhoneDesc" formControlName="phone"
                [ngClass]="{ 'is-invalid': isFormSubmit && f.phone.errors }">
              <small id="txtPhoneDesc" class="form-text text-muted sr-only">Enter phone number.</small>
              <div *ngIf="isFormSubmit && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Phone is required !</div>
              </div>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" (change)="statusChange($event)"
                [checked]="this.contactForm.value.status == '1'">
              <label class="form-check-label">&nbsp;Active/InActive</label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <ng-template [ngIf]="isFormMode != 0">
        <button type="submit" class="btn btn-outline-primary">Save</button>
      </ng-template>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
    </div>

  </form>
</ng-template>

<!-- Modal : Add New Contact -->
<ng-template #deleteContactModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ this.modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4><span class="badge badge-pill badge-danger">Are you sure want to delete this contact ?</span></h4>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>

<!-- Modal : Add New Contact -->
<ng-template #statusContactModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ this.modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4><span class="badge badge-pill badge-warning"><i class="fa fa-warning"></i>&nbsp;Are you sure want to
        {{ !this.isFormStatus ? 'Active' : 'Inactive' }} this contact ?</span></h4>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-danger" (click)="onStatus()">Update</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>